html{
    background-color: rgba(0, 128, 0, 0.479);
    font-size: 20px;
}
ul{
    background: rgba(255, 0, 106, 0.445);
    padding: 10px;
    border: 1px solid wheat;
}
li{
    margin-left: 20px;
}

